<div class="container">

    <h4>Виджет погоды в Челябинске </h4>
    <div class="alert alert-warning">
        
        <div class="apiEnter">Введите API:
            <input type="text" [(ngModel)] = "userApiKey">
            <button class="btn btn-danger btn-common" (click)="search()">Получить прогноз</button>
        </div>
    </div>

        <button class="btn btn-info btn-switch" (click)="timeSelect('now')">Погода сейчас</button>
        <button class="btn btn-info btn-switch" (click)="timeSelect('3h')">3 часа</button>
        <button class="btn btn-info btn-switch" (click)="timeSelect('6h')">6 часов</button>
        <button class="btn btn-info btn-switch" (click)="timeSelect('9h')">9 часов</button>

        <div class="alert alert-success">

            <div *ngIf="response">
                <p> Температура воздуха: {{response.list[tabIndex].main.temp}} °С</p>
                <p>Ощущается как: {{response.list[tabIndex].main.feels_like}} °С</p>
                <p>Ветер: {{response.list[tabIndex].wind.speed}} m/с</p>
            </div>
        </div>
        
        
        <!-- <ul>
            <li>Место:<strong>{{place}}</strong></li>
            <li>Температура воздуха:<strong>{{temp}}</strong></li>
            <li>Ветер:<strong>{{wind}}</strong></li>
        </ul>  -->
    

</div>